form.contact-form label {
    color: #999;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;

}

.form-container input {
    border: 10px #9999a6 solid;
    background-color: #fff;
}

input#contact-info, input#email-info {
    padding: 10px;
    width: 97%;
}

textarea {
    width: 99%;
}

input#btn-submit {
    padding: 10px;
    width: 14%;
    background-color: #4aaaa5;
    color: white;
    font-size: 19px;
    border: none;
    margin-top: 20px;
}

input#btn-submit:hover {
    cursor: pointer;
    background-color: #116460;
}

input#btn-submit:active {
    background-color: #22807b;
}