form.contact-form label {
    color: #999;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;

}

input {
    border: 1px #dddddd solid;
    background-color: #fff;
}

input#contact-info, input#email-info {
    padding: 10px;
    width: 98%;
}

textarea {
    width: 99%;
    border: 1px #dddddd solid;
}

input#btn-submit {
    padding: 10px;
    width: 6rem;
    background-color: #4aaaa5;
    color: white;
    font-size: 19px;
    border: none;
    margin-top: 20px;
}

input#btn-submit:hover {
    cursor: pointer;
    background-color: #116460;
}

input#btn-submit:active {
    background-color: #22807b;
}

@media screen and (max-width: 980px){

    input#contact-info, input#email-info {
        width: 97%;
    }
    
    textarea {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
 
    input#contact-info, input#email-info {
        width: 97%;
    }
    
    textarea {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    input#contact-info, input#email-info {
        width: 96%;
    }
    
    textarea {
        width: 100%;
    }
}