.portfolio-container {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.portfolio-content {
 

    width: 250px;
    /* margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    padding: 0px; */
    
}

.portfolio-content img {
    width: 100%;
    max-width: 250px;
    float: none;
    object-fit: cover;
}

.portfolio-content span {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #4aaaa5;
    color: #fff;
    box-sizing: border-box;
    transition: all .5s ease;
}

.portfolio-content:hover span {
 
    background-color: #096965;
}

.portfolio-wrapper {
    width: 100%;
    height: auto;
}

.portfolio-wrapper:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 980px){

}

@media screen and (max-width:768px) {

    .center-container {
        width: 86vw;
    }

    #refernce-image {
        object-position: -8px;
    }
}

@media screen and (max-width: 640px) {

    .portfolio-container {
        display: block;

    }

    .portfolio-content {
        margin: 0 auto;
        width: 100%;
        
    }

    .portfolio-content img {
        max-width: 100%;
    }
}