body {

    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/soft_wallpaper.png);
    background-color: tan;
    font-size: 16px;
    line-height: 1.2em;
}

hr {

    background: #dddddd;
    height: 3px;
    border: none;
}


h1,h2,h3,h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

header {
    border-bottom: 2px solid #cccccc;
    background-color: #fff;

}

.header-container {

    height: 91px;
    margin: 0 auto;
    width:  960px;
}

.logo{

    float: left;
    width: 250px;
    background: #4aaaa5;
    text-align: center;
    height: 100%;
}

.logo img {

    width: 10px;
    height: 10px;
}

.logo p {
    font-size: 1.5em;
    color: white;
    padding-top: 30px;
    margin: 0;
}

.menu-container{
  float: right; 
  padding-top: 30px;
 
}

.menu-container ul {
    list-style: none;
}

.menu-container li {
    display: inline;
    text-decoration: none; 
    font-size: 1em;
}

li#about, li#portfolio {
    border-right: 2px solid #ececec;
    margin-right: 30px;
    padding-right: 20px;
}

.menu-container a:focus {
    border-bottom: #fa8500 2px solid;
}


.menu-container a {
    text-decoration: none;
    color: #9999a6;
}

.menu-container a:hover {
    border-bottom: #4aaaa5 2px solid;
}

.center-container {

    border: #ddd solid 2px;
    padding:  40px 20px;
    margin: 40px auto 400px auto;
    width: 920px;
    clear: both;
    background-color: #fff;
    overflow: auto;
    
}

.about-me-content {
    margin-top: 20px;
}

.center-container h1 {
    color: #4aaaa5;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.center-container h2, .center-container p {
    color: #9999a6;
    font-size: 15px;
}

.center-container p a {

    color: #4aaaa5;
    text-decoration: underline;
}

.center-container p a:hover {
    color: #1e6f6b;

}


.center-container img {
    float: left;
    height: 150px;
    padding-right: 10px;
}

/* .center-container img::after {
    content: "";
    clear: both;
} */

footer {
    background-color:#666666;
    text-align: center;
    padding: 20px;
    border-top: solid 5px #4aaaa5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 20px;
    text-align: center;
}

footer p {  
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    font-size: 0.7em;
}

.clear {
    clear: both;
}

@media screen and (max-width: 980px) {

    .header-container {
        width: 100%;
    }

    .logo {
        margin-left: 20px;
    }

    .menu-container {
      margin-right: 20px;
    }

    .center-container {
         margin: 40px auto 400px 20px;
         width: 588px;
    }

    .center-container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .center-container {
        width: 89%;
        float: none;
        margin: 40px auto 400px auto;
    }

    .center-container img {
        height: 20rem;
    }

}

@media screen and (max-width: 640px) {

    .logo, .menu-container {
        margin: 0px;
        float: none;
        width: 100%;
        
    }

    .menu-container {
        background-color: #fff;
        height: auto;
        text-align: center;
        padding-bottom: 30px;
    }

    .menu-container li {
        margin-right: 5px;
    }
    
    .center-container {

        width: 85%;
        margin: 90px auto;
    }

    .about-me-content {
        text-align: center;
    }

    .about-me-content img {
        height: 20rem;
        float: none;
        padding: 0px;
    }

    .center-container p {
        margin-top: 10px;
        line-height: 1.6rem;
        text-align: left;
    }

}